* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  .nav {
    height: 60px;
    padding-top: 8px;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 11111!important;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.205);
  }
  
  .subMenu {
    padding-top: 70px;
    height: 50px;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 100%;
    background-color: #ffffff;
    font-size: 15px;
  }

  .nav-header {
    display: inline;
  }
  
  .nav-title {
    display: inline-block;
    padding: 10px;
    padding-right: 180px;
  }
  
  .nav-btn {
    display: none;
  }
  
  .nav-links {
    display: inline;
    font-size: 15px!important;
  }

  .a {
    float: right;
  }
/*   
  .b{
      margin-top: 0px!important;
  }
   */
  .nav-links input {
      border: none;
      border-radius: 10px;
      height: 28px;
      background-color: rgb(236, 236, 236);
      padding: 10px;
    }
  
  .add {
      color: white;
      background-color: rgb(32, 163, 15);
      border: none;
      border-radius: 6px;
      padding: 10px;
  }

  .add a{
    color: white;
    text-decoration: none;
}

  .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(136, 136, 136)!important;
  }
  
  .nav-links > a:hover {
    color: rgb(0, 0, 0)!important;
  }
  
  #nav-check {
    display: none;
  }
  
  .follow {
      background-color: #1B95E0;
      color: white;
      border: none;
      border-radius: 2px;
      padding: 1px 6px 1px 4px;
      font-size: 12px;
      text-align: center;
      position: absolute;
      top: 20px;
      left: 280px;
  }

  .like {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 1px 6px 1px 4px;
      font-size: 12px;
      text-align: center;
    padding: 3px;
    position: absolute;
    top: 50px;
    left: 280px;

  }

  .sort {
    margin-top: 13px;
    margin-left: 10px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    font-size: 15px!important;
    text-align: center;
}
.tags {
    margin-top: 13px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    font-size: 15px!important;
    text-align: center;
}

.sort a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.tags a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.footer {
    margin-left: 59px;
    margin-right: 25px;
}

.footer .row{
    text-align: center;
}

.footer .col {
    display: inline-block;
    text-align: left!important;
    padding: 0px;
    width: 370px;
    margin: 20px;
    height: 25vh;
}

.subtitle {
    color: rgb(28, 148, 12)!important;
    position: relative;
    left: 40px;
    bottom: 17px;
    font-size: 0.9rem;
}
.col1 p {
    font-size: 0.9rem;
    color: rgb(119, 119, 119);
}
.donate {
    color: black;
    text-align: center;
      background-color: #FFC43D;
      border: none;
      border-radius: 10px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.164);
}

.icons {
    background-color: rgb(189, 189, 189);
    border: none;
    align-items: center;
      border-radius: 40px;
      padding: 8px 10px 8px 10px;
      margin: 5px;
      /* padding-left: 10px; */
      /* padding-right: 10px; */
}
.col2 {
    position: relative;
    bottom: 50px;
}

.col3 {
    position: relative;
    bottom: 50px;
    font-size: 0.9rem;
    color: rgb(119, 119, 119);
}

.black {
    color: black!important;
}
.footer-btn {
    text-align: left!important;
    width: 180px;
    height: 40px;
    padding: 20px 20px 30px 20px;
    border: none;
    color: rgb(129, 129, 129);
    background-color: white;
    font-size: 0.9rem;
}

.footer-btn a{
    width: 100%;
    height: 100%;
}

.footer-btn :hover{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 165, 0);
}

.footer input {
    width: 250px;
    border: none;
}

.submit {
    color: white;
    background-color: rgb(32, 163, 15);
    border: none;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
    height: 25px;
}

  @media (max-width:600px) {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid black;
    }
    .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav-links > a {
      display: block;
      width: 100%;
    }
    #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    #nav-check:checked ~ .nav-links {
      height: 50vh;
    }
    .col1 {
        min-height: 30vh;
    }
    .col2 {
        height: 25vh;
    }

  }